# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Output directories
output/
uploads/
models/

# Documentation
*.md
!README.md

# Docker
docker/*
!docker/docker-entrypoint.sh
!docker/Dockerfile
!docker/docker-compose.yml

# Logs
*.log
logs/

# Temporary
tmp/
temp/
*.tmp
